.card {
    display: flex;
    height: 210px;
    width: 600px;
    margin: 0 40px;
    padding: 20px;
    border-bottom: 1.5px solid #eee;
}

.card img {
    width: 125px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .7);
}

.card-info {
    font-size: 12px;
    line-height: 12px;
    margin: auto 0;
    padding: 20px;
    color: var(--text-color);
}

.card-info span.title {
    padding: 0 6px 0 4px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
}
.card-info span i {
    color:var(--primary-color);
}
.card-info span a {
    color: var(--seconday-color);
}

.card-info h1 {
    margin: 5px 0;
    padding-bottom: 10px;
    line-height: 30px;
}

.card-info h4 {
    margin: 6px 0;
}

.card-info p {
    line-height: 150%;
}